{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}first_app/estilo.css" />
		<title>
			Home con static prefix	
		</title>
	</head>
	<body>
		<div id="prueba uno" style="width:960; background: #EEEEEE; margin:auto;">
			<h1>Este es el Home del proyecto con static prefix</h1>
			<p>
				Este es la pagina principal que se muestra cuando no se espesifica nada en la URL
			</p>
		</div>
	</body>
</html>